<div class="body_place">
    <form action="addDrivers" method="post">
        <label for="fio">ФИО</label>
        <input id="fio" name="fio" type="text" size="40">

        <label for="drive_license">Водительское удостоверение</label>
        <input id="drive_license" name="drive_license" type="text" size="40">

        <label for="home_address">Домашний адрес</label>
        <input id="home_address" name="home_address" type="text" size="40">

        <label for="work_with_address">Место работы и адрес</label>
        <input id="work_with_address" name="work_with_address" type="text" size="40">

        <label for="car_mark">Марка автомобиля</label>
        <input id="car_mark" name="car_mark" type="text" size="40">

        <label for="car_number">ГосНомер автомобиля</label>
        <input id="car_number" name="car_number" type="text" size="40">

        <label for="car_color">Цвет автомобиля</label>
        <input id="car_color" name="car_color" type="text" size="40">

        <label for="damages">Повреждения</label>
        <input id="damages" name="damages" type="text" size="40">

        <label for="guilty">Виновник</label>
        <input id="guilty" name="guilty" type="checkbox" {{disabled}} size="40">
        <br>
        <label for="insurance">Страховка</label>
        <input id="insurance" name="insurance" type="text" size="40">

        <input type="submit" value="Далее">
    </form>
</div>

<style type="text/css">
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid red;
        border-radius: 4px;
    }
</style>