<div class="body_place">
    <form action="addDrivers" method="post">
        <label for="accident_date_time">Дата и время ДТП</label>
        <input id="accident_date_time" name="accident_date_time" type="datetime-local" size="25">

        <label for="place">Место ДТП</label>
        <input id="place" name="accident_address" type="text" size="40">

        <label for="cause_accident">Причина ДТП</label>
        <input id="cause_accident" name="cause_accident" type="text" size="40">

        <label for="number_of_ref">Количество участников</label>
        <input id="number_of_ref" name="number_of_ref" type="number" size="4">

        <input type="submit" value="Далее">
    </form>
</div>